<a href="https://colab.research.google.com/github/Gutojah/Python/blob/main/Exerc%C3%ADcios_de_Python_Curso_em_V%C3%ADdeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Testes
#Interecao e multiplas respostas
import random

nome = input('Qual o seu nome? ')
print('Ola',nome+', Prazer em lhe conhecer')
idade = input(' qual a sua idade? ')
respostas = random.choice ([ 
    'Tudo isso? Quem lhe ve pensa que tens muito mais que {} anos' .format(idade),
    'So isso? Olhando para voce, diria que tens muito mais que {} anos' .format(idade),
    'Bem me parecia que tinhas {} anos' .format(idade),  
    'Uau {}! Aparentas ter muito menos que {} anos' .format(nome, idade),
    'Serio isso {0}? Me desculpe pela indelicadeza, mas aparentas ter muito mais que {1}.' .format(nome, idade),
    'Meus parabens {1}, aparentas ter muito menos que {0} anos' .format(idade, nome),
    'Em cada perna {}? Posso ser uma maquina, mas nao precisar mentir pra mim, sei que tens muito mais que {} anos' .format(nome, idade),
    'Se voce realmente tiver tudo isso, tens que mostrar aos outros os teus segredos {}, pois estas muito bem para quem ja tem {} anos' .format(nome, idade),
    'Se realmente tiveres so {} anos, tens que procurar ajuda {}, pois aparentas ter muito mais!' .format(idade, nome),
    'Aproveite, essa idade passa voando, logo logo faras mais outros {} anos' .format(idade),
    ])

#o metodo ".format" substitui {} pela variavel pretendida, no caso (idade)
print(respostas) #Como a idade ja foi chamada no corpo da mensagem, nao eh preciso coloca-la entre os () do print

In [ ]:
#Testes = Assim fica mais limpo!
#Interecao e multiplas respostas
import random

nome = input('Qual o seu nome? ')
print('Ola {}, Prazer em lhe conhecer' .format(nome)) #o metodo ".format" substitui as {} pela variavel entre (), quando ha so uma, nao ha a necessidade de numerar ID
idade = input(' qual a sua idade? ')
respostas = random.choice ([ 
    'Tudo isso? Quem lhe ve pensa que tens muito mais que {} anos',
    'So isso? Olhando para voce, diria que tens muito mais que {} anos',
    'Bem me parecia que tinhas {} anos',  
    'Uau {}! Aparentas ter muito menos que {} anos',
    'Serio isso {0}? Me desculpe pela indelicadeza, mas aparentas ter muito mais que {1}.',
    'Meus parabens {0}, aparentas ter muito menos que {1} anos' ,
    'Em cada perna {}? Posso ser uma maquina, mas nao precisar mentir pra mim, sei que tens muito mais que {} anos' ,
    'Se voce realmente tiver tudo isso, tens que mostrar aos outros os teus segredos {}, pois estas muito bem para quem ja tem {} anos' ,
    'Se realmente tiveres so {} anos, tens que procurar ajuda {}, pois aparentas ter muito mais!',
    'Aproveite, essa idade passa voando, logo logo faras mais outros {} anos'
    ])


print(respostas .format(nome,idade)) #o metodo ".format" substitui as {} pela variavel pretendida, no caso (nome (com ID 0) e idade (com ID 1))

Qual o seu nome? Ricardo
Ola Ricardo, Prazer em lhe conhecer
 qual a sua idade? 54
Em cada perna Ricardo? Posso ser uma maquina, mas nao precisar mentir pra mim, sei que tens muito mais que 54 anos

Exercicios do Curso de Python - Curso em Video - Youtube

In [ ]:
#Exercicio 1 : Exibindo msgm
msg = 'Ola, mundo!'
print (msg)

Ola, mundo!

In [ ]:
#Exercicio 2 : Iteragindo =com o usuario (Input)
nome = input('Qual o seu nome? ')
print('Ola {}, e um prazer lhe conhecer!'.format (nome)) #O Metodo ".format(variavel, ou, variaveis), apos a frase, faz com que as {ID} sejam substituidas pela variavel pretendida", se nao for colocado a ID, ela vai seguir a ordem dos itens entre () apos .format

In [ ]:
#Exercicio 3  : Somando dois numeros
n1 = int(input('Digite o primeiro numero '))
n2 = int(input('Digite o segundo numero '))
soma = int(n1+n2)
#print(soma,'eh o resultado soma entre', n1, 'e',n2) #Metodo tradicional = Python 2
#print('{} eh o resuldato da soma entre {} e {}' .format(soma,n1,n2)) #Se as {} estiverem vazias, sera seguido a sequencia das variaveis entre () = Python 3
print('{0} eh o resuldato da soma entre {2} e {1}' .format(soma,n1,n2)) #Se houver um numero entre as {}, estes, representam o ID das variaveis pretendidas

In [ ]:
#Exercicio 4 : Dissecando uma variavel (Tipos Primitivos)
n = input('Digite algo ')
print(type(n))
print('Sao apenas letras?', n.isalpha())
print('Sao apenas espacos?', n.isspace())
print('Sao Apenas numeros?', n.isnumeric())
print('Eh alfanumerico?', n.isalnum())
print('Esta apenas em letras maiusculas?', n.isupper())
print('Sao apenas letras minusculas?', n.islower())
print('Apenas a primeira letra eh maiuscula? Ou seja, esta capitalizada?', n.istitle())

In [ ]:
#Exercicio 4 : Um pouco mais elaborado: Dissecando uma variavel (Tipos Primitivos)
x = (input('Digite algo e em seguida aperte "ENTER" '))
if x.isalpha() == True:
  print( 'Voce digitou apenas letras. O tipo primitivo deste valor eh:', type(x))
elif x.isnumeric() == True:
  x = int(x) # Converte em numero inteiro
  print( 'Voce digitou um numero inteiro. O tipo primitivo deste valor eh:', type(x))
elif x.isspace() == True: 
  print('Voce digitou apenas espacos. O tipo primitivo deste valor eh:', type(x))
  #x = ?? #Converte para tipo primitivo "espaco"
elif x.isalnum() == True:

   print('Voce digitou um valor alfanumerico. O tipo primitivo deste valor eh:', type(x))

In [ ]:
#Aula 7: Operacoes Aritimeticas
'''
Operadores = Funcao
+          = Soma
-          = Subtracao
*          = Multiplicacao
**         = Exponeciacao (Potencia)
/          = Divisao
//         = Divisao inteira (Sem resto e sem virgula)
%          = Modulo (ou resto da divisao)
==         = Igualdade
!=         = Diferenca
**(1/2)    = Raiz Quadrada
**(1/3)    = Raiz Cubica

'''
#Exemplos:
n1 = int(input('Digite o primeiro numero '))
n2 = int(input('Digite o segundo numero '))
print('resultado_soma =', n1 + n2,)
print('resultado_subtracao =', n1 - n2,)
print('resultado_Multiplicacao =', n1 * n2,)
print('resultado_Exponenciacao =', n1 ** n2,)
print('resultado_Divisao =', n1 / n2,)
print('resultado_Divisao_Inteira =', n1 // n2,)
print('resultado_Modulo =', n1 % n2,)
print('resultado_igualdade =', n1 == n2,)
print('resultado_diferenca =', n1 != n2)


'''
ORDEM DE PRECEDENCIAENTRE OS OPERADORES:
1 ()
2 **
3 * / //  e  % (Entre eles, o qual aparecer primeiro)
4 + e - (Entre eles, o qual aparecer primeiro)
'''

In [ ]:
#Aula 7a
#Alinhando input
nome = input('Qual o seu nome?')
print('Prazer em lhe conhecer {}!!!' format(nome))
print('Prazer em lhe conhecer {:15}!!!' format(nome))
print('Prazer em lhe conhecer {:<15}!!!' format(nome))
print('Prazer em lhe conhecer {:>15}!!!' format(nome))
print('Prazer em lhe conhecer {:^15}!!!' format(nome))
print('Prazer em lhe conhecer {:=^20}!!!' format(nome))
print('Prazer em lhe conhecer {:*^30}!!!' format(nome))

In [ ]:
#Exercio 5 : Mostrando o sucessor e o antecessor
n = int(input('Digite um numero inteiro '))
suc = n + 1 #Calcula o numero sucessor e grava na variavel "suc"
ant = n - 1 #Calcula o antecessor em "ant"
print ('Voce digitou o numero {0},\no antecessor de {0}  eh {1} \ne o sucessor de {0} eh {2}' .format(n,ant,suc))
#METODO ALTERNATIVO = Desta forma não precisa criar nenhuma variavel para Sucessor e nem Antecessor
#Esse método é util quando não for mais preciso realizar esse calculo.
print ('Voce digitou o numero {0},\no antecessor de {0}  eh {1} \ne o sucessor de {0} eh {2}' .format(n,(n-1),(n+1)))

In [ ]:
#Exercicio 6 : Qual o dobro, o triplo, raiz quadrada e raiz tripla
n = int(input('Digite um numero '))
dob = n * 2
tri = n * 3
raiz2 = n ** (1/2) # ou pow(n,(1/2))
raiz3 = pow(n,(1/3)) # ou n ** (1/3)
print(' Voce digitou o numero {0}, \n o dobro de {0} eh {1}, \n o triplo de {0} eh {2}, \n a raiz quadrada de {0} eh {3:.2f} e \n a raiz cubica de {0} eh {4:.2f}' .format(n,dob,tri,raiz2,raiz3)) 
#{3:.2f} faz com que o item com ID 3 possua apenas 2 casa apos a virgula

Digite um numero 81
 Voce digitou o numero 81,
 o dobro de 81 eh 162,
 o triplo de 81 eh 243,
 a raiz quadrada de 81 eh 9.00 e
 a raiz cubica de 81 eh 4.33

In [ ]:
 #Exercicio 7 : Calculando a media final entre 3 notas de um aluno
nota1 = float(input('Digite a primeira nota que o aluno recebeu '))
nota2 = float(input('Digite a segunda nota que o aluno recebeu '))
nota3 = float(input('Digite a terceira nota que o aluno recebeu '))
soma = nota1 + nota2 + nota3
media = soma / 3

print('A media do aluno foi {:.1f}' .format(media)) #{:.1f} faz com que o resultado possua apenas uma casa apos a virgula

Digite a primeira nota que o aluno recebeu 5.5
Digite a segunda nota que o aluno recebeu 9.8
Digite a terceira nota que o aluno recebeu 2.3
A media do aluno foi 5.9

In [ ]:
#Exercicio 8 : Convertendo Metros em Centimetros e Milimetros e Kilometros
metro = int(input('Quantos metros gostaria de converter?  '))
km = metro / 1000
centi = metro * 100
mili = metro * 1000

print(' {}m são {}km \n{}cm \n{}mm' .format(metro,km,centi,mili))

Quantos metros gostaria de converter?  127
 127m são 0.127km
12700cm
127000mm

In [ ]:
# Exercicio 9 : Tabuada = Minha Solucao
n = int(input('Voce quer saber a tabuada de qual numero? '))
for i in range(1,11):
  print( n,'X',i, '=', n*i)

Voce quer saber a tabuada de qual numero? 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#Exercicio 9 :Tabuada = Resolvida pelo professor
num = int(input('Voce quer saber a tabuada de qual numero? '))
print ('{} X {} = {}' .format(num, 1, num*1))
print ('{} X {} = {}' .format(num, 2, num*2))
print ('{} X {} = {}' .format(num, 3, num*3))
print ('{} X {} = {}' .format(num, 4, num*4))
print ('{} X {} = {}' .format(num, 5, num*5))
print ('{} X {} = {}' .format(num, 6, num*6))
print ('{} X {} = {}' .format(num, 7, num*7))
print ('{} X {} = {}' .format(num, 8, num*8))
print ('{} X {} = {}' .format(num, 9, num*9))
print ('{} X {} = {}' .format(num, 10, num*10))

Voce quer saber a tabuada de qual numero? 5
5 X  1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#Exercicio 9 :Tabuada = Unindo as duas resolucoes
n = int(input('Voce quer saber a tabuada de qual numero? '))
print('='*11)
for i in range(1,11):

  print('{0} X {1:2} = {2:2}' .format(n,i, n*i))
print('#'*11)

Voce quer saber a tabuada de qual numero? 8
===========
8 X  1 =  8
8 X  2 = 16
8 X  3 = 24
8 X  4 = 32
8 X  5 = 40
8 X  6 = 48
8 X  7 = 56
8 X  8 = 64
8 X  9 = 72
8 X 10 = 80
###########

In [ ]:
#Exercicio 10 : Covertendo reais em dolar e euro
reais = float(input('Quantos reais voce possui? '))
dolar = reais / 5.17
euro = reais / 5.48
print('Com {} reais voce poderia converter em {:.2f} dolares ou {:.2f} euros.' .format(reais,dolar,euro))

Quantos reais voce possui? 25.50
Com 25.5 reais voce poderia converter em 4.93 dolares ou 4.65 euros.

In [ ]:
#Exercicio 10 : Covertendo reais em dolar e euro fornecendo a cotacao
reais = float(input('Quantos Reais voce possui? '))
dolar = float(input('Qual a cotação de hoje para o Dólar? '))
euro = float(input('Qual a cotação de hoje para o Euro? '))
reais_em_dolar = reais/dolar
reais_em_euro = reais/euro
print('Com {} reais voce poderia converter em {:.2f} dolares ou {:.2f} euros.' .format(reais,reais_em_dolar,reais_em_euro))

Quantos Reais voce possui? 700
Qual a cotação de hoje para o Dólar? 4.98
Qual a cotação de hoje para o Euro? 5.48
Com 700.0 reais voce poderia converter em 140.56 dolares ou 127.74 euros.

In [ ]:
#Exercicio 11: Calculando area de um retangulo
b = float(input('Digite a largura em metros ')) #recebe a largura da area que se quer calcular
h = float(input('Digite a altura em metros ')) #recebe a altura da area que se quer calcular
a = b*h #calcula a area do retangulo ou quadrado
tinta = a / 2 # Calcula a quantidade de tinta necessaria para pintar a parede, considerando que cada litro de tinta pinta 2 metros quadrados
if b == h:
  print('A area de uma parede com os quatro lados medindo {0}m é igual a {2:.2f}m2. \nSendo assim, serão necessários {3} litros de tinta para pintar a parede por completo!' .format(b,h,a,tinta))
else:
  print ('A area de uma parede com {0}m de largura e {1}m de altura é igual {2:.2f} metros quadrados. \nSendo assim, serão necessários {3} litros de tinta para pintar a parede por completo!'  .format(b,h,a,tinta))

Digite a largura em metros 3
Digite a altura em metros 4
A area de uma parede com 3.0m de largura e 4.0m de altura é igual 12.00 metros quadrados.
Sendo assim, serão necessários 6.0 litros de tinta para pintar a parede por completo!

In [ ]:
#Exercicio 12: Calculado desconto
p = float(input('Digite o preço do artigo '))
d = float(input('Digite quantos porcento de desconto será aplicado '))
desc = (p*d)/100 #Calcula o desconto
np = float(p-desc) #valor inicial - o desconto aplicado
print('O valor inicial deste artigo era {0:.2f} euros, aplicando o desconto de {1:.1f}%, \nO artigo passa a custar apenas {3:.2f} euros. \nO que representa uma economia de {2:.2f} euros' .format(p,d,desc,np))

Digite o preço do artigo 45
Digite quantos porcento de desconto será aplicado 45
O valor inicial deste artigo era 45.00 euros, aplicando o desconto de 45.0%,
O artigo passa a custar apenas 24.75 euros.
O que representa uma economia de 20.25 euros

In [ ]:
#Exercicio 13: Calculando aumento
sal = float(input('Digite o valor do salário atual '))
porc_aum = float(input('Digite a porcentagem do aumento que o funcionário irá receber '))
aum = (sal*porc_aum)/100
novo_sal = sal + aum
print('Com um aumento de {}% em seu salario, o funcionário passa a receber {}, \nO que representa ganho real de {} euros!' .format(porc_aum, novo_sal,aum))

Digite o valor do salário atual 1200
Digite a porcentagem do aumento que o funcionário irá receber 15
Com um aumento de 15.0% em seu salario, o funcionário passa a receber 1380.0,
O que representa ganho real de 180.0 euros!

In [ ]:
#Exercicio 14: Conversor de temperaturas
c=float(input('Digite a temperatura em °C: ')) #Solicita a temperatura em Celsius (ou Centigrados)
f = c * 1.8+32 #Converte a temperatura de Celsius para Fahrenheit
ff = ((9 * c) / 5)+32 #Ouytra forma de Converter a temperatura de Celsius para Fahrenheit
k = c + 273.15 #Converte a temperatura de Celsius para Kelvin
print('{0}°C são equivalentes a {1:.2f}°F e {2:.2f}°K' .format(c,f,k))
print(ff)

Digite a temperatura em °C: 87
87.0°C são equivalentes a 188.60°F e 360.15°K
188.6

In [ ]:
#Exercicio 15: Calculo aluguel de carro
dias = int(input('O carro foi alugado por quantos dias? '))
km = float(input('Quantos km foram percorridos? '))
preco_por_dia = 60
preco_por_km = 0.15
p_dias = dias * preco_por_dia
p_km = km * preco_por_km
total = p_dias + p_km
print('O valor total a ser pago é de R${:.2f}. \nMuito obrigado e volte sempre!' .format(total))

O carro foi alugado por quantos dias? 5
Quantos km foram percorridos? 24.6
O valor total a ser pago é de R$303.69.
Muito obrigado e volte sempre!

In [ ]:
#Exercicio 15: Calculo aluguel de carro = Mais enxuto
dias = int(input('O carro foi alugado por quantos dias? '))
km = float(input('Quantos km foram percorridos? '))
total = (dias * 60) + (km * 0.15)
print('O valor total a ser pago é de R${:.2f}. \nMuito obrigado e volte sempre!' .format(total))

O carro foi alugado por quantos dias? 4
Quantos km foram percorridos? 55
O valor total a ser pago é de R$248.25.
Muito obrigado e volte sempre!

In [ ]:
#Aula 8: MÓDULOS!
'''
import nome_da_biblioteca #»» Importa a biblioteca completa, com todos os modulos
from nome_da_biblioteca import nome_do_modulo #»» Importa apenas determinado modulo desejado
'''
Exemplo:
import math
from math import sqrt, ceil

In [ ]:
#Exemplo: Importando toda a biblioteca
import math
num = int(input('Digite um número: '))
raiz = math.sqrt (num) #Nesse caso, para utilizar uma a função, é necessário referenciar o "nome_da_biblioteca.nome_função"
print(raiz)

Digite um número: 29
6

In [ ]:
#Exemplo: Importanto apenas a função desejada
from math import sqrt
num = int(input('Digite um número: '))
raiz = sqrt (num) #Nesse caso, para utilizar uma a função, não é necessário referenciar o nome_da_biblioteca, apenas a função
print(raiz)

Digite um número: 4
2.0

In [ ]:
from random import randint
num = randint(1, 10)
print (num)

4

In [ ]:
import random
num = randint(1,10)
num

1

In [ ]:
#Exercício 16: Mostrando numero inteiro
#import math
num = float(input('Digite um número com vírgulas: '))
print(math.trunc(num)) #Ignora os numero após a vírgula
print(math.ceil(num)) #Arredonda SEMPRE para cima
print(math.floor(num)) #Arredonda SEMPRE para baixo

Digite um número com vírgulas: 23.01
23
24
23

In [ ]:
#Exercício 17: Calculando a hipotenusa de um triangulo retângulo
cat_oposto = float(input('Digite o cumprimento do Cateto Oposto: '))
cat_adja = float(input('Digite o cumprimento do Cateto Adjacente: '))
hipotenusa = math.hypot (cat_adja, cat_oposto) #Calcula a hipotenusa
print(hipotenusa)

Digite o cumprimento do Cateto Oposto: 42
Digite o cumprimento do Cateto Adjacente: 54
68.41052550594829

In [ ]:
#Exercício 18: Calculando Seno, Cosseno e Tangênte de um angulo
ang = int(input('Digite o valor do angulo que pretende calcular: '))
cos = math.cos(ang)
sen = math.sin(ang)
tan = math.tan(ang)
print('Dado o angulo de {0}°, seus respectivos Seno, Cosseno e Tangênte são: \n Seno = {1:.2f}, Cosseno = {2:.2f} e Tangênte = {3:.2f}' .format(ang,sen,cos,tan))

Digite o valor do angulo que pretende calcular: 45
Dado o angulo de 45°, seus respectivos Seno, Cosseno e Tangênte são:
 Seno = 0.85, Cosseno = 0.53 e Tangênte = 1.62